/* 基础设置 */
.container {
    width: 90%;         /*  百分比——适配各种屏幕 */
    margin: 0 auto;
    min-width: 320px;
    background-color: #32CCB3;
    max-width: var(--width-container);
}

 :root {
  --primary-color: #32CCB3;
  --secondary-color: #4facfe;
  --text-dark: #333;
  --text-light: #777;
  --white: #fff;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}/* 清除 */

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: var(--text-dark);
}


/* 顶部导航条start */
.header {
    height: 60px;
    font-size: large;
    background-color: rgba(50, 204, 179, 0.95);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 

    /* 固定导航条 */
    position: fixed;    
    top: 0;
    width: 100%;
    z-index: 1000;
}
.header .resume {
    height: 60px;
    line-height: 60px;
}
.header .topbar-nav{
    height: 60px;
    line-height: 60px;
}
.topbar-nav .list {
    height: 60px;
    line-height: 60px;
}
.topbar-nav .list li{
    float: left;
    padding: 0 30px;
}
.topbar-nav .list li a {
  transition: color 0.3s; 
  font-weight: 500;
}
.topbar-nav .list li a:hover {
  color: #f0f0f0;
} 
/* 顶部导航条end */




/* 主要内容start */
.main{
    background-color: rgb(17, 195, 235);
}

/* 主页start */
.home{
    background: linear-gradient(
                180deg, 
                #4facfe 0%, 
                #00f2fe 100%
            );
}
.home_wrapper {
    padding-top: 60px;
    height: 100vh;    
    /* 背景 */
    background-image: url(../images/home.png);
    background-size: 50% 90%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-color: inherit;

    /* 基础垂直居中 */
    /* display: flex;
    align-items: center; 
    justify-content: center;   
    gap: 20px;  */


    /* 使用Grid布局 */
    display: grid;
    grid-template-columns: 1fr 1fr; /* 两列布局 */
    align-items: center;
}

.home-content {
    grid-column: 2; /* 放在第二列 */
    justify-self: start; /* 在第二列内左对齐 */
    padding-left: 50px; /* 添加一些左边距 */
    max-width: 500px;
} 
.home-title {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 1.5rem; 
    line-height: 1.2; 
}
.home-decription {
    font-size:  1.2rem;
    opacity: 0.9;
}
/* 主页end */



.experience_wrapper {
    height: 500px;
    background-color: blue;
    border-color: black;
    border-style: dotted;
}


/* 作品集start */
.portfolio_wrapper {
    height: 500px;
    background-color: orange;
    border-color: black;
    border-style: dotted;
}




/* 作品集start */





.blog_wrapper {
    height: 500px;
    background-color: purple;
    border-color: black;
    border-style: dotted;
}
.contact_wrapper {
    height: 500px;
    background-color: red;
    border-color: black;
    border-style: dotted;
}
.other_wrapper {
    height: 500px;
    background-color: yellow;
    border-color: black;
    border-style: dotted;
}


/* 主要内容end */
